extends layout

block content
  h2 Best Gear
  p My recommendation for the best gear out there!

  h3 Mouse

  table
    tbody
      tr
        th 1.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)

      tr 
        th 2.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)
           
      tr 
        th 3.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)


  h3 Keyboard

  table
    tbody
      tr
        th 1.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)

      tr 
        th 2.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)
           
      tr 
        th 3.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)

  h3 Mouse Pad

  table
    tbody
      tr
        th 1.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)

      tr 
        th 2.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)
           
      tr 
        th 3.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)

  h3 Headset

  table
    tbody
      tr
        th 1.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)

      tr 
        th 2.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)
           
      tr 
        th 3.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)

  h3 GPU

  table
    tbody
      tr
        th 1.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)

      tr 
        th 2.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)
           
      tr 
        th 3.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)

  h3 CPU

  table
    tbody
      tr
        th 1.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)

      tr 
        th 2.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)
           
      tr 
        th 3.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)
