extends layout

block content
  h2 Best Gear
  p My recommendation for the best gear out there!

  h3 Mouse

  table
    tbody
      tr
        th 1.
        td
          a(href='https://t.ly/qGLfk')
            Razer Viper v2 pro
            img(src='https://m.media-amazon.com/images/I/51qyksHHlWL.__AC_SX300_SY300_QL70_ML2_.jpg' width=50)

      tr 
        th 2.
        td
          a(href='https://www.amazon.de/Logitech-Superlight-Lightspeed-Kabellose-Gaming-Maus/dp/B07W5JKP66/ref=sr_1_1?crid=PWL3FXO1IQB&dib=eyJ2IjoiMSJ9.zVzbBMCaJdzemgCuxc0HLYX9u1UlSCGOgHy9vqQQixxxLggdeCJVTMJKkw1njosQ58lc1X2v_tK4YvtpZvNafHUFBXEQV8WJPhhydo7wQZzuJP4JJ1yck3xQY6S4UGZ_LbTHSFh7jW9NvQrJ1A64pC2XlPb3SFyMKfnYtpYd9YBCDveBQ1OC1YAf9ubEGCB47V7jaBqsnGAVbSUwjva0nCqdkhSXL2IGACOcL3F3lo6Q9LCGSrByNWatFIMYThImhJRjEtu5zZDQFl02OeQ7I7eB0J634FaKPCOe0AbBkl4.FUWaXPXDuuj-p_R3bsUS9T3NQhGbj14BSjGtd9WV40w&dib_tag=se&keywords=logitech+g+pro+x+superlight+2&qid=1714122567&s=computers&sprefix=super%2Ccomputers%2C73&sr=1-1')
            Logitech g pro superlight 2
            img(src='https://m.media-amazon.com/images/I/61WRvXLabPL._AC_SX679_.jpg' width=50)
           
      tr 
        th 3.
        td
          a(href='https://www.amazon.de/Logitech-Gaming-Maus-Hero-Sensor-programmierbare-Akkulaufzeit/dp/B07G5SF48Z/ref=sr_1_2?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=UKI7V3LO54OL&dib=eyJ2IjoiMSJ9.iHtaFgDh7jPhR2eLUmH-wnt9xrL5yXyD7s4Yt-5kxefO9mcQHuzRooGEbqVufuXesmDfMsyQLJhSE6LXB63sPvR9JEcDrihR73hnMxljln6unFX-dUE8iFGlgD2k-WTYW_2C1yb3jQn-bPFTOj7hfTdUql1F2Xmo4R_Op_jMMZAx-2MJD6Q9B5b04m76ARQk1Nb2QQdY7LWbd36EE0m2gOyTNK4F6ATr2ldfYndivIW50C1iTdm7Dl9nxyVPdivjzJp9-0DYxsReoSlTy6XelRcYGpBYKMskTgGZacpM6t4.AuqwRraGbOJdqggzsiCrhvtPLXzwdX3R7iE5DUfPP_c&dib_tag=se&keywords=logitech+g+pro&qid=1714122666&s=computers&sprefix=logitech+g+pro+%2Ccomputers%2C87&sr=1-2')
            Logitech G pro
            img(src='https://m.media-amazon.com/images/I/51ySu55JzAL.__AC_SX300_SY300_QL70_ML2_.jpg' width=50)


  h3 Keyboard

  table
    tbody
      tr
        th 1.
        td
          a(href='https://wooting.io/wooting-60he')
            Wooting 60he
            img(src='https://i.ytimg.com/vi/MAJl103M9bI/maxresdefault.jpg' width=50)

      tr 
        th 2.
        td
          a(href='https://www.amazon.de/Razer-Huntsman-Tenkeyless-Sport-Tastatur-Doubleshot-PBT-Tastenkappen/dp/B0CDBYCF7D/ref=sr_1_1?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=37OEA4ISO086D&dib=eyJ2IjoiMSJ9.PraV83zXFui12b760gswnL66JCW_b6oyyvrTWDn1kKHDgh3XImSBqdJo2_mQX-O__AwLElwMm_2qiBY1ZIB9DGIGmElpPSZgzW_GGMeNjaDxUBiml1PYKsvzerDVXf0snHNlhUT46i62J8Wy-quUqRKTaNcIRFMGxggkcYM_ysCA872n-1WJx_jnlVG8xSJLJumkci1eXYhF-EB3OutFnSXXvrykWl4-giKZR3tg5mp4aANhLLKbBdxGrAGjwlqKTAx25S88In2McJNh9GtRVT3lHiNOKOrrGyHWqzJHdus.OshTQpm5sXpqk8P_cWwMLKWQxkhWjP4lQHUcbGIx2Uo&dib_tag=se&keywords=Razer+huntsman+v3+pro+tkl&qid=1714122762&s=computers&sprefix=razer+huntsman+v3+pro+tkl%2Ccomputers%2C70&sr=1-1')
            Razer Huntsman V3 Pro Tenkeyless
            img(src='https://m.media-amazon.com/images/I/81y14ID9oHL._AC_SL1500_.jpg' width=50)
           
      tr 
        th 3.
        td
          a(href='https://t.ly/cEzBA')
            Apex Pro (mini und TKL)
            img(src='https://m.media-amazon.com/images/I/71iUUN3rSZL._AC_SX679_.jpg' width=50)

  h3 Mouse Pad

  table
    tbody
      tr
        th 1.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)

      tr 
        th 2.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)
           
      tr 
        th 3.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)

  h3 Headset

  table
    tbody
      tr
        th 1.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)

      tr 
        th 2.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)
           
      tr 
        th 3.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)

  h3 GPU

  table
    tbody
      tr
        th 1.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)

      tr 
        th 2.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)
           
      tr 
        th 3.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)

  h3 CPU

  table
    tbody
      tr
        th 1.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)

      tr 
        th 2.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)
           
      tr 
        th 3.
        td
          a(href='https://some-keyboard')
            Foo Bar 1003
            img(src='https://some-picture' width=50)
