extends layout

block content
  h2 Welcome to Friendsettings!
  p  Here is where I show the Fortnite stats of my friends as of #{zeit}.
  
  ul(class="freundeliste")
    each freund in freunde
      li(class="freund")
        a(href='freunde/' + freund.account)
          include ./_image.jade          
        a(href='freunde/' + freund.account)= freund.name
