doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="header")
     a(href="/")
      h1 Friendsettings
     ul(class="menu")
      li
        a(href="/aboutme") About Me
  
    div(class="content")
      block content
  

  